body {
    background-color: black;
    color: lime;
    font-family: monospace;
    text-align: center;
}

.container {
    margin-top: 10%;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    color: lime;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: white;
}
