body {
    background-color: #1e1e1e; /* Ciemnoszare tło */
    color: #00ff00; /* Neonowy zielony tekst */
    font-family: monospace;
    text-align: center;
}

.container {
    margin-top: 10%;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    color: #33ff33; /* Jasny zielony */
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: white; /* Efekt hover – biały */
}
